/* -------- Global variables / Custom Properties -------- */
:root {
    /* Color Palettes */
    --color-primary: #2584ff;
    --color-secondary: #00d9ff;
    --color-accent: #ff3400;
    --color-headings: #1b0760;
    --color-body: #918ca4;
    --color-body-darker: #5c5577;
    --color-border: #ccc;
    --border-radius: 30px;}

*, *::after, *::before {box-sizing: border-box;}

::placeholder {color: #cdcbd7;}

/* -------- Typography -------- */
html {font-size: 62.5%;}

body {
    font-family: inter, Arial, Helvetica, sans-serif;
    color: var(--color-body);
    font-size: 2.4rem; /*on mobile the font-size is 24px*/
    line-height: 1.5;}

h1, h2, h3 {
    color: var(--color-headings);
    margin-bottom: 1rem; /*the font imported include margin around it, therefor we use a smaller size font*/}

h1 {font-size: 7rem;}
h2 {font-size: 4rem;}
h3 {font-size: 3rem;}
p {margin: 0;}

@media screen and (min-width: 1024px) {

    body {font-size: 1.8rem;}
    h1 {font-size: 8rem;}
    h2 {font-size: 4rem;}
    h3 {font-size: 2.4rem;}}

/* -------- Links -------- */
a {text-decoration: none;}

.link-arrow {
    color: var(--color-accent);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;}

.link-arrow::after {
    content: "-->";
    margin-left: 5px;
    transition: margin 0.15s; /* notice this transition */}

.link-arrow:hover::after { /* this CSS code is difficult */
    margin-left: 10px;}

@media screen and (min-width: 1024px) {
    
    .link-arrow {
        font-size: 1.5rem;}}

/* -------- Badges -------- */
.badge {                /* OOP, seperate Structure from Skin: this is Structure */
    border-radius: 20px;
    font-size: 2rem;
    font-weight: 600;
    padding: 0.5rem 2rem;
    white-space: nowrap; /*extends the line*/}

.badge--primary { /*BEM Convention: block__element--modifier: block--modifier*/
    background: var(--color-primary);
    color: #fff;}
.badge--secondary {
    background: var(--color-secondary);
    color: #fff;}
.badge--small {
    font-size: 1.6rem;
    padding: 0.5rem 1.5rem;}

@media screen and (min-width: 1024px) {

    .badge {
        font-size: 1.5rem;
    }
    .badge--small {
        font-size: 1.2rem;}}

/* -------- Lists -------- */
.list {
    list-style: none;
    padding-left: 0;
    color: var(--color-headings);
    /* font-weight: bold; */ /* bold should be applied where required */}

.list--inline .list__item {
    display: inline-block;
    margin-right: 2rem;}

.list--tick {
    list-style-image: url(../images/tick.svg);
    padding-left: 3rem;}

.list--tick .list__item { /*good use of nestting: both criteria has to be met*/
    padding-left: 0.5rem;
    margin-bottom: 1rem;}

@media screen and (min-width: 1024px) {

    .list--tick .list__item {padding-left: 0;}}

/* -------- Icon -------- */
.icon {
    width: 40px;
    height: 40px;}

.icon-container { /* we used here "-" to seperate words. BTW the span element is for background color*/
    background: #f3f9fa;
    width: 64px;
    height: 64px;
    border-radius: 100%;
    display: inline-flex; /* to use justify and align */
    justify-content: center; /* horizontal */
    align-items: center; /* vertical */}
    
.icon--primary {fill: var(--color-primary);}
.icon--accent {fill: var(--color-accent);}


/* -------- Buttons -------- */
.btn {
    border-radius: 40px;
    border: 0;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 600;
    margin: 1rem 0;
    padding: 2rem 3rem;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;}
.btn--outline {
    background: #fff;
    color: var(--color-headings);
    border: 2px solid var(--color-headings);}
.btn--outline:hover {
    background: var(--color-headings);
    color: #fff;}
.btn--primary {
    background: var(--color-primary);
    color: #fff;}
.btn--primary:hover {background: #006fff;}
.btn--secondary {
    background: var(--color-secondary);
    color: #fff;}
.btn--secondary:hover {background: #00c8eb;}
.btn--accent {
    background: var(--color-accent);
    color: #fff;}
.btn--accent:hover {background: #ec3000;}
.btn--block {
    width: 100%;
    display: inline-block;}

@media screen and (min-width: 1024px) {

    .btn {font-size: 1.5rem;}}

/* -------- Inputs -------- */
.input {
    padding: 1.5rem 3.5rem;
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    outline: 0;
    color: var(--color-headings);
    font-size: 2rem;}
.input-group {
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    display: flex; /*to push the search button to far right, good nestting*/}
.input-group .input { /* Good use of nestting, only input inside an input-group should not have borders*/
    border: 0;
    flex-grow: 1;
    padding: 1.5rem 1rem;}
.input-group .btn {margin: 4px;}
.input-group .icon-container {margin: 4px;}

@media screen and (min-width: 1024px) {

    .input {
        font-size: 1.5rem;
    }}

/* -------- Cards -------- */
.card {
    border-radius: 7px;
    box-shadow: 0 0 20px 10px #f3f3f3; /*vertical[0] horizontal[0] shadow-blurring[20px] spreading[10px] */
    overflow: hidden; /* when applied background color to the header, the color got overflow*/}
.card__header, .card__body {padding: 2rem 3rem;}
.card--primary .card__header {
    background: var(--color-primary);
    color: #fff;}
.card--secondary .card__header {
    background: var(--color-secondary);
    color: #fff;}

/* -------- Subscription Plans -------- */
.plan {margin-bottom: 4rem;}
.plan__name {
    color: #fff;
    font-size: 2.4rem;
    font-weight: 500;
    margin: 0;}
.plan__price {font-size: 6rem;}
.plan__billing-cycle {
    font-size: 2.4rem;
    font-weight: 300;
    opacity: 0.8;
    margin-right: 1rem;}
.card--primary .badge--primary {background: #126DE4;}
.card--secondary .badge--secondary {background: #02cdf1;}
.plan__description {
    display: block;
    font-size: 2rem;
    font-weight: 300;}
.plan .list__item {margin-bottom: 2rem;}
.plan--popular .card__header {position: relative;}
.plan--popular .card__header::before {
    content: url(../images/popular.svg);
    display: inline-block;
    width: 40px; /*for width to work, display inline-block*/
    position: absolute;
    top: -3px;
    right: 5%;}

@media screen and (min-width: 1024px) {

    .plan__name {font-size: 1.4rem;}
    .plan__price {font-size: 5rem;}
    .plan__billing-cycle {font-size: 1.6rem;}
    .plan__description {font-size: 1.7rem;}}

/* -------- Media Object -------- */
.media {display: flex;}
.media__title {margin-top: 0;}
.media__body {margin: 0 2rem;}
.media__image {margin-top: 1rem;}

/* -------- Quotes -------- */
.quote {
    font-style: italic;
    color: var(--color-body-darker); /* Skin, to be later moved to testimonials section*/
    font-size: 3rem; /* Skin, to be later moved to testimonials section*/
}
.quote__text::before {content: open-quote;}
.quote__text::after {content: close-quote;}
.quote__author { /* to be later moved to testimonials section*/
    font-size: 3rem;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 0; /*reason for this, is the buttom margin is coming from the heading "h3"*/}
.quote__organisation {
    color: var(--color-headings);
    font-size: 2rem;
    opacity: 0.4;font-style: normal;}
.quote__line {
    position: relative;
    bottom: 7px;}

@media screen and (min-width: 1024px) {

    .quote {font-size: 2rem;}
    .quote__author {font-size: 2.4rem;}
    .quote__organisation {font-size: 1.6rem;}}
