/* -------- Global variables / Custom Properties -------- */
:root {
    /* Color Palettes */
    --color-primary: #2584ff;
    --color-secondary: #00d9ff;
    --color-accent: #ff3400;
    --color-headings: #1b0760;
    --color-body: #918ca4;
    --color-body-darker: #5c5577;
    --color-border: #ccc;
    --border-radius: 30px;}

*, *::after, *::before {box-sizing: border-box;}

::placeholder {color: #cdcbd7;}

/* -------- Typography -------- */
html {font-size: 62.5%;}

body {
    font-family: inter, Arial, Helvetica, sans-serif;
    color: var(--color-body);
    font-size: 2.4rem; /*on mobile the font-size is 24px*/
    line-height: 1.5;}

h1, h2, h3 {
    color: var(--color-headings);
    margin-bottom: 1rem; /*the font imported include margin around it, therefor we use a smaller size font*/
    line-height: 1.1;}

h1 {font-size: 7rem;}
h2 {font-size: 4rem;}
h3 {
    font-size: 3rem;
    font-weight: 500;}
p {margin: 0;}

@media screen and (min-width: 1024px) {

    body {font-size: 1.8rem;}
    h1 {font-size: 8rem;}
    h2 {font-size: 4rem;}
    h3 {font-size: 2.4rem;}}

/* -------- Links -------- */
a {text-decoration: none;}

.link-arrow {
    color: var(--color-accent);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;}
.link-arrow::after {
    content: "-->";
    margin-left: 5px;
    transition: margin 0.15s; /* notice this transition */}
.link-arrow:hover::after { /* this CSS code is difficult */
    margin-left: 10px;}

@media screen and (min-width: 1024px) {
    
    .link-arrow {
        font-size: 1.5rem;}}

/* -------- Badges -------- */
.badge {                /* OOP, seperate Structure from Skin: this is Structure */
    border-radius: 20px;
    font-size: 2rem;
    font-weight: 600;
    padding: 0.5rem 2rem;
    white-space: nowrap; /*extends the line*/
    transition: all 0.3s ease;} /* Add this line for transition */
.badge--primary { /*BEM Convention: block__element--modifier: block--modifier*/
    background: var(--color-primary);
    color: #fff;}
.badge--secondary {
    background: var(--color-secondary);
    color: #fff;}
.badge--small {
    font-size: 1.6rem;
    padding: 0.5rem 1.5rem;}

@media screen and (min-width: 1024px) {

    .badge {
        font-size: 1.5rem;
    }
    .badge--small {
        font-size: 1.2rem;}}

/* -------- Lists -------- */
.list {
    list-style: none;
    padding-left: 0;
    /* font-weight: bold; */ /* bold should be applied where required */}
.list--inline .list__item {
    display: inline-block;
    margin-right: 2rem;}
.list--tick {
    list-style-image: url(../images/tick.svg);
    padding-left: 3rem;
    color: var(--color-headings);}
.list--tick .list__item { /*good use of nestting: both criteria has to be met*/
    padding-left: 0.5rem;
    margin-bottom: 1rem;}

@media screen and (min-width: 1024px) {

    .list--tick .list__item {padding-left: 0;}}

/* -------- Icon -------- */
.icon-container { /* we used here "-" to seperate words. BTW the span element is for background color*/
    background: #f3f9fa;
    width: 64px;
    height: 64px;
    border-radius: 100%;
    display: inline-flex; /* to use justify and align */
    justify-content: center; /* horizontal */
    align-items: center; /* vertical */}
.icon {width: 40px;height: 40px;}
.icon--small {width: 30px; height: 30px;}    
.icon-container--accent {background: var(--color-accent);}
.icon--primary {fill: var(--color-primary);}
.icon--white {fill: #fff;}

/* -------- Images -------- */
.image-container {width: 100%;}

/* -------- Buttons -------- */
.btn {
    border-radius: 40px;
    border: 0;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 600;
    margin: 1rem 0;
    padding: 2rem 3rem;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;}
.btn--outline {
    background: #fff;
    color: var(--color-headings);
    border: 2px solid var(--color-headings);}
.btn--outline:hover {
    background: var(--color-headings);
    color: #fff;}
.btn--horizontal {
    padding-left: 6rem;
    padding-right: 6rem;}
.btn--primary {
    background: var(--color-primary);
    color: #fff;}
.btn--primary:hover {background: #006fff;}
.btn--secondary {
    background: var(--color-secondary);
    color: #fff;}
.btn--secondary:hover {background: #00c8eb;}
.btn--accent {
    background: var(--color-accent);
    color: #fff;}
.btn--accent:hover {background: #ec3000;}
.btn--block {
    width: 100%;
    display: inline-block;}
.btn .icon {
    width: 2rem;
    height: 2rem;
    vertical-align: middle;}

@media screen and (min-width: 1024px) {

    .btn {font-size: 1.5rem;}}

/* -------- Inputs -------- */
.input {
    padding: 1.5rem 3.5rem;
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    outline: 0;
    color: var(--color-headings);
    font-size: 2rem;}
.input-group {
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    display: flex; /*to push the search button to far right, good nestting*/}
.input-group .input { /* Good use of nestting, only input inside an input-group should not have borders*/
    border: 0;
    flex-grow: 1;
    padding: 1.5rem 2rem;}
.input-group .btn {
    margin: 4px;
    padding: 2rem 2rem;}
.input-group .icon-container {
    display: none;
    margin: 4px;
    padding: 0 1rem;}

@media screen and (min-width: 768px) {
    
    .input-group .icon-container {
        display: inline-flex;   
       }
    .input-group .btn {
        padding: 0 6rem;
    }}
@media screen and (min-width: 1024px) {

    .input {font-size: 1.5rem;}}

/* -------- Cards -------- */
.card {
    border-radius: 7px;
    box-shadow: 0 0 20px 10px #f3f3f3; /*vertical[0] horizontal[0] shadow-blurring[20px] spreading[10px] */
    overflow: hidden; /* when applied background color to the header, the color got overflow*/}
.card__header, .card__body {padding: 2rem 3rem;}
.card--primary .card__header {
    background: var(--color-primary);
    color: #fff;}
.card--secondary .card__header {
    background: var(--color-secondary);
    color: #fff;}

/* -------- Subscription Plans -------- */
.plan {
    margin-bottom: 4rem;
    transition: transform 0.2s ease-out;}
.plan__name {
    color: #fff;
    font-size: 2.4rem;
    font-weight: 500;
    margin: 0;}
.plan__price {font-size: 6rem;}
.plan__billing-cycle {
    font-size: 2.4rem;
    font-weight: 300;
    opacity: 0.8;
    margin-right: 1rem;}
.card--primary .badge--primary {background: #126DE4;}
.card--secondary .badge--secondary {background: #02cdf1;}
.plan__description {
    display: block;
    font-size: 2rem;
    font-weight: 300;}
.plan .list__item {margin-bottom: 2rem;}
.plan--popular .card__header {position: relative;}
.plan--popular .card__header::before {
    content: url(../images/popular.svg);
    display: inline-block;
    width: 40px; /*for width to work, display inline-block*/
    position: absolute;
    top: -3px;
    right: 5%;}
.plan:hover {
    transform: scale(1.05);}
.plan .card {
    margin: 0 auto;
    max-width: 500px;}
    

@media screen and (min-width: 1024px) {

    .plan__name {font-size: 1.4rem;}
    .plan__price {font-size: 5rem;}
    .plan__billing-cycle {font-size: 1.6rem;}
    .plan__description {font-size: 1.7rem;}

    .plan--popular {transform: scale(1.09);}
    .plan--popular:hover {transform: scale(1.14);}}


/* -------- Media Object -------- */
.media {
    display: flex;
    margin-bottom: 4rem;}
.media__title {margin-top: 0;}
.media__body {margin: 0 2rem;}
.media__image {margin-top: 1rem;}

/* -------- Quotes -------- */
.quote {font-style: italic;}
.quote__text::before {content: open-quote;}
.quote__text::after {content: close-quote;}

/* -------- Grids -------- */
.grid {display: grid;}
.grid--1x3 {gap: 2rem 5rem;}
    
@media screen and (min-width: 768px) {

    .grid--1x2 {grid-template-columns: repeat(2, 1fr); /* this means: all the avaiable space and divide it by 2*/
    }}
@media screen and (min-width: 1024px) {

    .grid--1x3 {
        grid-template-columns: repeat(3, 1fr);
    }}

/* -------- Testimonials -------- */
.testimonial {
    margin-top: 4rem;
    padding: 3rem;} /* padding from ites container */
.testimonial__image {position: relative;} /* notice the relative positioning was not applied to the grid because the grid is a reusable component */
.testimonial__image > img {width: 100%;} /*this property for the picture makes it responsive. BTW the height is automatically adjusted */
.testimonial__image > .icon-container {
    position: absolute;
    top: 3rem;
    right: -31px;} /* icon-container width 64px so -32px will make half of it out */
.testimonial__quote {
    font-size: 3rem;
    color: var(--color-body-darker);}
.testimonial__author {
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 0; /*reason for this, is the buttom margin is coming from the heading "h3"*/}
.testimonial__organisation {
    color: var(--color-headings);
    font-size: 2rem;
    opacity: 0.4;font-style: normal;}
.testimonial__quote-line {
    position: relative;
    bottom: 7px;}


@media screen and (min-width: 768px) {

    .testimonial .quote {
        margin-left: 6rem;
        font-size: 2.4rem;
    }
    .testimonial .quote__author { font-size: 2.8rem;}}
@media screen and (min-width: 1024px) {

    .quote {font-size: 2rem;}
    .quote__author {font-size: 2.4rem;}
    .quote__organisation {font-size: 1.6rem;}}

/* -------- Callouts -------- */
.callout {
    padding: 4rem;
    border-radius: 5px;}
.callout--primary {
    background: var(--color-primary);
    color: #fff;}
.callout__body {text-align: center;}
.callout__heading {
    color: #fff;
    margin-top: 0;
    font-size: 3rem;}
.callout .btn { /* in girds justify and align are by default stretch */
    justify-self: center; /* horizontal */
    align-self: center;} /* vertical */

@media screen and (min-width: 768px) {

    .callout .grid--1x2 {grid-template-columns: 1fr auto;} /*right column get column to fit it, left gets stretched */
    .callout__body {text-align: left;}
    .callout .btn {
        justify-self: start;
        margin: 0 2rem;}}

/* -------- Collapsibles -------- */
.collapsible__header {
    display: flex;
    justify-content: space-between;}
.collapsible__heading {
    color: var(--color-headings);
    margin-top: 0; /* Skin, to be moved to footer section later*/
    font-size: 3rem;} /* Skin, to be moved to footer section later*/
.collapsible__body {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s;}
.collapsible--expanded .collapsible__body {
    max-height: 100vh;
    opacity: 1;}
.collapsible__icon {
    transform: rotate(-90deg);
    transition: transform 0.3s;}
.collapsible--expanded .collapsible__icon {transform: rotate(0);}

/* -------- Blocks -------- */
.block {
    --padding-vertical: 6rem;   /* defined a variable*/

    padding: var(--padding-vertical) 2rem;}
.container {
    max-width: 1140px;
    margin: 0 auto;}
.block--dark {
    background: #000;
    color: #7b858b;}
.block--skewed-right {
    padding-bottom: calc(var(--padding-vertical) + 4rem);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 90%);}
.block--skewed-left {
    padding-bottom: calc(var(--padding-vertical) + 4rem);
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);}
.block__header {text-align: center;}
.block__heading {margin-top: 0;}
.block--dark h1, .block--dark h2, .block--dark h3 {color: #fff;}

/* -------- Navigation Bar -------- */
.nav {
    background: #000;
    display: flex;
    justify-content: space-between; /* first and last are pushed to the sides */
    flex-wrap: wrap;
    padding: 0 1rem;
    align-items: center;}
.nav__list {
    width: 100%;
    margin: 0;}
.nav__list-item {
    padding: 0.5rem 2rem;
    border-bottom: 1px solid #222;}
.nav__list-item > a {
    color: #d2d0db;
    transition: color 0.3s;}
.nav__list-item > a:hover {color: #fff;}
.nav__toggler {
    opacity: 0.65;
    transition: all 0.15s;
    cursor: pointer;} /* altough this will only appear in mobile and tablets, os its not relevant */
.nav.collapsible--expanded .nav__toggler {
    opacity: 1;
    box-shadow: 0 0 0 3px #666;
    border-radius: 5px;}
.nav__logo {transform: translateY(5px);}

@media screen and (min-width: 768px) {


    .nav__toggler {display: none;}
    .nav__list {
        width: auto;
        display: flex;
        font-size: 1.6rem;
        max-height: 100%;
        opacity: 1;}
    .nav__list-item {border: 0;}}

/* -------- Hero Section -------- */
.hero__tagline {
    font-size: 2rem;
    color: #b9c3cf;
    margin: 2rem 0 5rem;}

@media screen and (min-width: 768px) {

    .hero {padding-top: 0;}
    .hero__content {
        text-align: left;
        align-self: center;
    }}

/* -------- Domains Block -------- */
.block__domain .input-group {
    box-shadow: 0 0 30px 20px #e6ebee;
    border: 0;
    margin: 4rem auto;
    max-width: 670px;}
.block-domain__prices {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 4rem);
    font-size: 2rem;
    font-weight: 600;
    margin: 0 auto;
    justify-items: center;
    max-width: 700px;}

@media screen and (min-width: 768px) {

    .block-domain__prices {
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    }}

/* -------- Features Block -------- */
.features {
    gap: 4rem 2rem;     /* to manage gap without media query, vertical horizontal */
    margin: 6rem 0;}
.features:last-of-type {margin: 6rem 0 0;}
.features__heading {margin: 1rem 0;}

@media screen and (min-width: 768px) {
    .features:nth-child(even) .features__content {
    order: 2;}}

/* -------- Showcase Block -------- */
@media screen and (min-width: 768px) {

    .block-showcase .grid  {grid-template-columns: 50% 50%;}
    .block-showcase .image-container {
        width: auto;
        max-width: 700px;}
    .block-showcase__image {
        justify-self: end;
        align-self: center;
    }}
@media screen and (min-width: 1140px) {

    .block-showcase__image {align-self: normal;
    }}