    <!------------------ Showcase Section ------------------>
    <section class="block block--skewed-right block--dark block-showcase">
        <header class="block__header">
            <h2>User-Friendly Control Panel</h2>
        </header>

        <div class="container grid grid--1x2">
            <!-- Row 1 -->
            <picture class="block-showcase__image">
                <source type="image/webp" srcset="images/ipad@1x.webp 1x, images/ipad@2x.webp 2x">
                <source type="image/png" srcset="images/ipad@1x.png 1x, images/ipad@2x.png 2x">
                <img class="image-container" src="images/ipad@1x.png" alt=""> <!-- img is required to render the picture and for styling and so on -->
            </picture>

            <!-- Row 2 -->
            <ul class="list">
                <li>
                    <div class="media">
                        <div class="media__image">
                            <svg class="icon icon--primary">
                                <use xlink:href="images/sprite.svg#computer"></use>
                            </svg>
                        </div>
                        <div class="media__body">
                            <h3 class="media__title">
                                Easy Start & Managed Updates
                            </h3>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia, magni ut hic itaque ab ad suscipit quis. Eum, ex itaque?</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="media">
                        <div class="media__image">
                            <svg class="icon icon--primary">
                                <use xlink:href="images/sprite.svg#growth"></use>
                            </svg>
                        </div>
                        <div class="media__body">
                            <h3 class="media__title">
                                Easy Start & Managed Updates
                            </h3>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia, magni ut hic itaque ab ad suscipit quis. Eum, ex itaque?</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="media">
                        <div class="media__image">
                            <svg class="icon icon--primary">
                                <use xlink:href="images/sprite.svg#wordpress"></use>
                            </svg>
                        </div>
                        <div class="media__body">
                            <h3 class="media__title">
                                Easy Start & Managed Updates
                            </h3>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia, magni ut hic itaque ab ad suscipit quis. Eum, ex itaque?</p>
                        </div>
                    </div>
                </li>
            </ul>

        </div>

    </section>